# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pdb
*.pkl
*.log
.venv/
venv/
.env

# FastAPI / Uvicorn
.uvicorn/

# Node / Frontend (future)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.next/
out/

# Docker
*.tar

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

